## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [50]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Cloudiness,Humidity,Lat,Lng,Hotel Name
0,28,Svetlaya,RU,59.81,0,63,46.54,138.33,NaN
1,50,Mount Gambier,AU,57.20,90,93,-37.83,140.77,Commodore on the Park
2,58,Zhangye,CN,59.79,89,41,38.93,100.45,Zhangye Lvzhou Holiday Inn
3,73,Warrington,GB,57.20,75,93,53.39,-2.58,Villaggio Hotel
4,105,Chuy,UY,56.26,59,91,-33.70,-53.46,Nuevo Hotel Plaza

In [51]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [52]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
weather = vacation_df["Max Temp"]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Cloudiness,Humidity,Lat,Lng,Hotel Name
0,28,Svetlaya,RU,59.81,0,63,46.54,138.33,NaN
1,50,Mount Gambier,AU,57.20,90,93,-37.83,140.77,Commodore on the Park
2,58,Zhangye,CN,59.79,89,41,38.93,100.45,Zhangye Lvzhou Holiday Inn
3,73,Warrington,GB,57.20,75,93,53.39,-2.58,Villaggio Hotel
4,105,Chuy,UY,56.26,59,91,-33.70,-53.46,Nuevo Hotel Plaza
5,114,Carnarvon,AU,59.00,0,67,-24.87,113.63,Hospitality Carnarvon
6,128,Moron,AR,59.00,75,38,-34.65,-58.62,Hotel MorÃ³n
7,159,Saint Anthony,US,57.20,90,71,45.02,-93.22,Holiday Inn Express Roseville-St. Paul
8,161,Lasa,IT,57.20,75,93,46.62,10.70,Pension FeldgÃ¤rtenhof
9,170,Sitka,US,57.20,75,71,57.05,-135.33,Westmark Sitka

In [54]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Chuy"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Chuy"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Moron"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Lasa"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Sitka"]

vacation_start

,City_ID,City,Country,Max Temp,Cloudiness,Humidity,Lat,Lng,Hotel Name
4,105,Chuy,UY,56.26,59,91,-33.7,-53.46,Nuevo Hotel Plaza

In [18]:
type(vacation_start)

pandas.core.frame.DataFrame

In [55]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
stop3 = vacation_stop3["Lat"].values[0], vacation_stop3["Lng"].values[0]

In [56]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_directions = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='BICYCLING')
fig.add_layer(vacation_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Cloudiness,Humidity,Lat,Lng,Hotel Name
0,105,Chuy,UY,56.26,59,91,-33.70,-53.46,Nuevo Hotel Plaza
1,128,Moron,AR,59.00,75,38,-34.65,-58.62,Hotel MorÃ³n
2,161,Lasa,IT,57.20,75,93,46.62,10.70,Pension FeldgÃ¤rtenhof
3,170,Sitka,US,57.20,75,71,57.05,-135.33,Westmark Sitka
4,105,Chuy,UY,56.26,59,91,-33.70,-53.46,Nuevo Hotel Plaza

In [58]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp (Â°F)</dt><dd>{Max Temp} Â°F</dd>
<dt>Cloudiness</dt><dd>{Cloudiness}</dd>
<dt>Humidity</dt><dd>{Humidity}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [59]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))